


.customerManagement-wrapper {



   
    
      .ant-table-tbody {
        .ant-table table {
          width: 100%;
          text-align: left;
          border-radius: 2px 2px 0 0;
          border-collapse: separate;
          border-spacing: 0;
          background: #f0f2f5;
        }
        tr {
          td {
            border-bottom: 5px solid var(--bggreycolor);
    
            .iconbutton {
              border: none;
              background: none;
              &:focus {
                outline: none;
                border: none;
              }
            }
            .actionicon {
                width: 110px;
              img {
                height: 18px;
                margin-left: 10px;
              }
            }
          }
          td:nth-child(1) {
            border-bottom-left-radius: 10px;
          }
          td:last-child {
            border-bottom-right-radius: 10px;
          }
        }
        tr:nth-child(even) {
          background-color: var(--lightred);
          box-shadow: 0 1px 3px #ccc;
          position: relative;
          border-radius: 10px;
          z-index: 5;
          top: 1px;
        }
        tr:nth-child(odd) {
          background-color: var(--whitetext);
          box-shadow: 0 1px 3px #ccc;
          position: relative;
          border-radius: 10px;
          z-index: 4;
          top: 1px;
        }
      }
      .ant-table-content {
        background: #f0f2f5;
        border-radius: 10px;
      }
    
      .ant-table-container table > thead > tr:first-child th:first-child {
        border-bottom-left-radius: 10px;
      }
      .ant-table-container table > thead > tr:first-child th:last-child {
        border-bottom-right-radius: 10px;
      }
    
      .ant-table-thead > tr > th {
        border-bottom: 5px solid var(--bggreycolor);
        background: var(--tableheader);
        font-weight: 800;
    
        th:nth-child(1) {
          border-bottom-left-radius: 10px;
        }
        th:last-child {
          border-bottom-right-radius: 10px;
        }
    }



    .bottomblock
    {
        .bgwhite {
            background: var(--whitetext);
          }
        
          .ant-btn-primary {
            margin-top: 15px;
            margin-bottom: 15px;
            height: 40px;
            border-radius: 5px;
            background: var(--darkred);
            border: none;
            margin-right: 15px;
          }
        
          .cmleft {
            text-align: left;
            padding: 15px;
        
            h4 {
              font-size: 20px;
              font-weight:700;
            }
        
            ul {
              margin: 0;
              padding: 0;
        
              li {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 15px;
              }
            }
        
            .cont {
              color: #ccc;
            }
          }
        
          .brtb {
            border: 1px solid #ccc;
            margin: 15px;
            padding: 15px;
        
            ul {
              margin: 0;
              padding: 0;
        
              li {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 15px;
                list-style-type: none;
                font-weight: 600;
        
                h3 {
                  font-size: 15px;
                }
        
                span {
                  color: var(--darkred);
                }
              }
            }
          }
        
          ul {
            margin: 0;
            padding: 0;
        
            li {
              list-style: none;
              display: flex;
              align-items: center;
              justify-content: center;
              padding-bottom: 15px;
              text-align: center;
            }
          }
    }
    
 
}
