.password-wrapper{
    text-align: center;
    h3{
        font-weight: 800;
    }

    .passbox
    {
        background: var(--whitetext);
        padding: 15px;
        max-width: 500px;
        border-radius: 8px;
        margin: auto;
        .ant-input{
            height: 35px;
            width: 100%;
        }
        .ant-btn-primary{
            background-color: var(--darkred);
            border-radius: 100px;
            border: none;
            padding:6px 30px;
        }
    }
    
}