.avgblock{
    font-size: 12px;
    font-weight: 600;
    color: var(--grey);
}

.secblock{
    font-size: 16px;
    font-weight: 800;
}


.sunclr{
    color: var(--darkblue);
    height: 25px;
    display: inline-block;
}